<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate Control</title>
    <style>
        .state {
            border-radius: 50px;
            padding: 2px 5px;
        }

        .state.unknown {
            background: yellow;
        }

        .state.raised {
            background: lime;
        }

        .state.lowered {
            background: red;
            color: white;
        }
    </style>
</head>
<body>
    <h1>View Page</h1>

    <p>Current state: <span class="state unknown">Unknown</span></p>

    <script>
        let ws = new WebSocket("ws://" + location.host + location.pathname);
        const stateSpan = document.querySelector("span.state");

        ws.addEventListener('message', e => {
            let msg = JSON.parse(e.data);
            if (msg.type == "text") alert(`Text from Server: ${msg.payload}`);
            if (msg.type == "query_state_result") {
                if (msg.payload == true) {
                    stateSpan.className = "state raised";
                    stateSpan.innerText = "Raised";
                } else if (msg.payload == false) {
                    stateSpan.className = "state lowered";
                    stateSpan.innerText = "Lowered";
                }
            }
            if (msg.type == "availability") alert(`Availability: ${msg.payload}`);
        });
    </script>
</body>
</html>