<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate Control</title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/state-styles.css">
    <script src="/config.js"></script>
    <script src="/map.js"></script>

    <style>
      .gate-controller {
        grid-template: 
          "h" auto
          "s" auto / auto;
      }

      .gate-header {
        border-bottom: 1px solid hsl(221, 33%, 30%);
      }
    </style>

    <script>
    const message_responses = {
      raised: {
        style: 'raised',
        text: 'Raised'
      },
      raising: {
        style: 'indeterminate',
        text: 'Raising...'
      },
      lowered: {
        style: 'lowered',
        text: 'Lowered'
      },
      lowering: {
        style: 'indeterminate',
        text: 'Lowering...'
      }
    };

    let config = null;

    function createControls(gateID) {
      let header = document.createElement('p');
      header.className = 'gate-header';
      header.innerText = `Gate #${gateID}`;

      let stateElement = document.createElement('div');
      stateElement.className = 'state-block';
      stateElement.id = 'state-block-' + gateID;
      stateElement.innerHTML = '<span class="state"></span><p>Connecting...</p>';

      let container = document.createElement('div');
      container.className = 'gate-controller';
      container.id = 'controller-' + gateID;
      container.appendChild(header);
      container.appendChild(stateElement);

      return container;
    }
    </script>
  </head>
  <body>
    <div>
      <h1>Gate State</h1>
    </div>

    <script>
    let ws = new WebSocket("ws://" + location.host + location.pathname);
    let controllers = [];

    getConfig().then(c => {
      config = c;

      for (const gate of config.gates) {
        controllers.push(createControls(gate.id));
      }

      new ImageMap(
        {
          mapImage: config.image,
          gates: config.gates
        },
        controllers,
        document.querySelector('body > div')
      );
    });

    ws.addEventListener('message', e => {
      let msg = JSON.parse(e.data);
      if (msg.type === "text") alert(`Text from Server: ${msg.payload}`);
      if (msg.type === "query_state_result") {
        const gateStates = msg.payload;
        for (const state of gateStates) {
          const stateBlock = document.querySelector(`#state-block-${state.id}`);

          if (!stateBlock) {
            continue;
          }

          const { text, style } = message_responses[state.state];

          stateBlock.querySelector("span.state").className = "state " + style;
          stateBlock.querySelector("p").innerText = text;
        }
      }
      if (msg.type == "availability") alert(`Availability: ${msg.payload}`);
    });

    ws.addEventListener('close', () => {
      while (!config);
      for (const gate of config.gates) {
        document.querySelector(`#state-block-${gate.id} > span.state`).className = "state";
        document.querySelector(`#state-block-${gate.id} > p`).innerText = "Disconnected";
      }
    });

    ws.addEventListener('error', () => {
      while (!config);
      for (const gate of config.gates) {
        document.querySelector(`#state-block-${gate.id} > span.state`).className = "state";
        document.querySelector(`#state-block-${gate.id} > p`).innerText = "Communication Error";
      }
    });
    </script>
  </body>
</html>
